form{

width: 25%;
border-radius: 10px;
box-shadow: 0 0 50px black;
margin: 50px;
}

.div1  input[type=text],
        input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 17px 0;
            display: inline-block;
            border: 1px solid #131212;
            box-sizing: border-box;
            border-radius: 10px;
        }


        button {
            background-color: black;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            border-radius: 10px;
            align-content: center;

        }
        label{
        	font-size: 20px;
        	color: black;
        }
        h1{
        	color: black;
        }
        .div2{
        	background-color: grey;
        	height: 60px;
        	
        	border-top-left-radius: 200px 50px;
        	border-top-right-radius: 200px 50px ;
        	border-bottom-left-radius: 10px ;
        	border-bottom-right-radius: 10px ;
        }
        a{
        	text-decoration: none;
        }
     .div1 label{
        color: white;
     }